.footer {
    background-color : $darkGrey;
    padding : $padding-classique;

    img {
        filter: brightness(0) invert(1);
        width : 120px;
    }

    nav {
        @include laptop {
            display : flex;
            justify-content: space-between;
            
            ul {
                margin-right : 80px;

            }
        }
    }


    &__item {
        line-height: 1.9rem;
        color :white;

        i {
            width : 10px;
            padding-right : 24px;
        }
    }

    // max-width : 100px;
    
    &__container {
        max-width : 1200px;
        margin : auto;

        @include tablet {
            display : flex;
            justify-content: space-around;
        }
    }
}