.btn {
    @include rounded;
    border-radius: 50px;
    font-weight: 600;
    color : white;
    transition: all 0.4S ease-in-out ;
    // transition: all ease-in-out0;
    background: linear-gradient(75deg, $color-secondary, $color-primary);
    padding : 20px 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
        box-shadow: 2px 5px 15px #9f9191f0;
        filter :brightness(115%);
    }
}