main {
}

.entete {

    text-align: center;
    // width :100px;
    
    @include laptop {
        position :relative;
        height : calc(100vh - 200px);
        
        &:before {
            content :"";
            width : 100%;
            height : 100%;
            left : 0;
            position : absolute;
            background-image: url('../img/restaurants/shaw.jpg');
            background-size: cover;
            background-color: $color-tertiary;
            background-repeat: no-repeat;
            z-index : -1;
            background-attachment: fixed;
        }

        &:after {
            content :"";
            width : 100%;
            height : 100%;
            left : 0;
            position : absolute;
            background-color: $color-tertiary;
            filter : opacity(0.79);
            z-index : -1;
        }
    }

    &__ville {
        padding: $padding-classique;
        background-color: $grey;


        i {
            padding : 0 15px;

        }

    }
    
    &__desc {
        padding: $padding-classique;
        p {
            margin : 20px 0;
        }
    }


    &__box {
        background-color: $lightGrey;
        padding-bottom: 40px;
        

        @include laptop {
            @include rounded(#6c6c6c9c);
            width : 60%;
            padding : 15px 45px;
            max-width: 480px;
            position : absolute;
            left : 20%;
            bottom : 15%;

            .entete & {
                // pour identifier parent !
                // border : 5px solid red!important;
            }
        }   
    }



}

.modeEmploi {
    padding: $padding-classique;

    .steps {
        @include tablet {
            display : flex;
            justify-content: space-between;
            max-width : 1180px;
            margin: auto auto 50px;
        }
    }
    
    .step {
        @include rounded;
        background-color : $lightGrey;
        position : relative;
        height : 80px;
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        color : $darkGrey;
        transition : background-color cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.3s;

        @include tablet {
            width : 30%;
        }

        &__number {
            background-color : $color-primary;
            width: 30px;
            height :30px;
            display: inline-flex;
            font-size : 12px;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            color: white;
            position : absolute;
            left : -8px;
            top : 50%;
            transform: translateY(-50%);
            border-radius: 50px;

            @include laptop {
                transform: translate(-45%, -50%) scale(1.72);
            }
        }

        i {
            padding : 0 20px 0 30px;
            color : lighten($darkGrey, 30);
        }

        &__title {
            margin-right : auto;
            font-weight: 600;
        }

        &:hover {
            background-color: lighten($color-primary, 35);

            i {
                color : $color-primary;
            }
        }
    }
}

.restaurants {
    padding: $padding-classique;
    background-color: $lightGrey;

    
    > div {
        margin: auto;
        
        @include tablet {
            // max-width : 700px;
            display : flex;
            flex-flow :  row wrap;
            justify-content: space-around;
            // border : 1px solid red;
            
            .card {
                width : 45%;
            }
        }
        
        @include laptop {
            flex-flow :  row nowrap;
            max-width : 1200px;
            // border : 1px solid black;
            
            .card {
                width : 23%;
            }
        }
    }

}